<ion-header>
  <ion-navbar>
    <button class="menu" ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Carrinho</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail item-start>
        <img [src]="item.produto.imageUrl || 'assets/imgs/prod.jpg'">
      </ion-thumbnail>
      <h2>{{item.produto.nome}}</h2>
      <p>{{item.produto.preco | currency : 'BRL'}}</p>
      <ion-icon class="nolinebreak" name="remove-circle" (click)="decreaseQuantity(item.produto)"></ion-icon>
      <p class="nolinebreak">{{item.quantidade}}</p>
      <ion-icon class="icone" name="add-circle"  (click)="increaseQuantity(item.produto)"></ion-icon>
      <ion-icon class="icone" name="trash" item-end  (click)="removeItem(item.produto)"></ion-icon>
    </ion-item>
  <ion-item *ngIf="total() > 0">
    <h2>Total</h2>
    <h2 item-end>{{total() | currency : 'BRL'}}</h2>
  </ion-item>
  <ion-item *ngIf="total() <= 0">
    <img src="assets/imgs/carrinho-vazio.jpg" alt="">
  </ion-item>
</ion-list>
<button class="but" ion-button block outline (click)="goOn()">Continuar comprando</button>
<button class="but1" *ngIf="total() > 0" ion-button outline  block (click)="checkout()">Finalizar pedido</button>
</ion-content>
