page-order-confirmation {


    .menu{
        color: #960A0A;
    }

    .but {
        height: 40px;
        background: #bb0404;
        border: 1px solid rgba(221, 4, 4, 0.2);
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 19px;
        color: #ffffff;
        font-family: Risque;
        font-style: normal;
        font-weight: normal;
    }

    .but1 {
        height: 40px;
        background: #960A0A;
        border: 1px solid rgba(92, 1, 1, 0.2);
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 19px;
        color: #ffffff;
        font-family: Risque;
        font-style: normal;
        font-weight: normal;
    }


}
