page-produto-detail {

    .but {
        background: #960A0A;  
    }

    .but1 {
        height: 40px;
        background: #960A0A;
        border: 1px solid rgba(92, 1, 1, 0.2);
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 19px;
        color: #ffffff;
        font-family: Risque;
        font-style: normal;
        font-weight: normal;
    }

    img {   
        max-width: 70% ;
        max-height: 70% ;             
    }

    img {
        @media (min-width: 500px) {
             max-width: 17% ;
             max-height: 17% ;
                
        }
    }

    
}